/* Navbar.module.css */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to right, #000000, #010213);
  z-index: 999;
  margin: auto;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align links to the right */
}

.navLinks a {
  margin-left: 20px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.cvLink {
  margin-left: 20px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.cvLink:hover {
  text-decoration: underline;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .navContainer {
    flex-direction: column; /* Stack elements vertically on small screens */
    align-items: flex-start; /* Align items to the left */
    padding: 10px;
  }

  .navLinks {
    margin-top: 10px; /* Add some spacing between links */
    justify-content: flex-start; /* Align links to the left */
  }

  .navLinks a {
    margin: 5px 0; /* Adjust margin for mobile */
  }

  .cvLink {
    margin: 5px 0; /* Adjust margin for mobile */
  }
}
