/* Navbar.module.css */

/* Styling for the navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to right, #000000, #010213);
  z-index: 999;
}

/* Styling for the container within the navbar */
.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}

/* Styling for the navigation links within the navbar */
.navLinks {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Styling for individual navigation links */
.navLinks a {
  margin-left: 20px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

/* Styling for the CV link within the navbar */
.cvLink {
  margin-left: 20px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

/* Styling for the CV link on hover */
.cvLink:hover {
  text-decoration: underline;
}

/* Media query for mobile styles */
@media (max-width: 768px) {
  .navbar {
    height: auto; /* Make navbar height auto to accommodate the menu items */
    padding-bottom: 10px; /* Add some padding at the bottom */
  }

  .navContainer {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .navLinks {
    flex-direction: column; /* Stack the links vertically */
  }

  .navLinks a {
    margin: 5px 0;
  }

  .cvLink {
    margin: 5px 0;
  }
}
